

<html>
  <head>
    <title>Apa kabar hari ini ?</title>
    <style type="text/css">
    	
    	@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
body, html {
  font-family: 'Kaushan Script';
  margin-top: 10%;
  width: auto;
  text-align: center;
  font-size: 40px;
font-weight: bold;
  background-color: #fff;
  color: #000;
}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js"></script>
  </head>
  <body>
    <h1 class="a"><span id="typed"></span></h1>
  </body>
</html>
<script type="text/javascript">
	var typed = new Typed('#typed',{
  strings : [
    "HELLO!! &nbsp;&nbsp;", "NAMASTE!!&nbsp;&nbsp; ","WELCOME TO..&nbsp;&nbsp;" ,"THE PATROL PORTAL!!&nbsp;&nbsp; "],
  typeSpeed : 100,
  delaySpeed : 90,
  loop : false
});
</script>