<%=stylesheet_link_tag "trip"%>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <div id="map"></div>

    <%= hidden_field_tag 'lat', @trip.checkins[0][:lat]  %> 
    <%= hidden_field_tag 'lng', @trip.checkins[0][:lng]  %>

