.aman { background-image: url("aman.jpg");
height: 100%;


}


h1 {
  color:white;
  text-align:center;
  font-size:70px;
  font-family: Palatino;
}



h3 {
  color:white;

  font-family: Palatino;
}
a {
    color: black;
}